/* DESIGN TOKENS */
:root {
	/* ------------------------------
       ---------- COLORS ------------
       ------------------------------ */

	/* Primary */
	--color-white: #ffffff;
	--color-primary-red: #e40001;

	/* Secondary */
	--color-citrus-yellow: #ffc934;
	--color-fanta-orange: #ff9e2a;
	--color-sprite-green: #6c7a36;
	--color-cola-red: #f36359;

	/* Text */
	--color-text-primary: #000000;

	/* ------------------------------
       -------- TYPOGRAPHY ----------
       ------------------------------ */

	/* Font family */
	--font-family-base: "Kodchasan", sans-serif;

	/* Font sizes weight */
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Font sizes size (desktop) */
	--font-size-h1: 5.125rem; /* 82px */
	--font-size-h2: 2.8125rem; /* 45px */
	--font-size-h3: 2.25rem; /* 36px */
	--font-size-h4: 1.6875rem; /* 27px */

	--font-size-body: 1.25rem; /* 20px */
	--font-size-medium: 1rem; /* 16px */
	--font-size-small: 0.813rem; /* 13px, mobile size */

	--line-height-base: 1.2;

	/* ------------------------------
	   --------- SPACING ------------
	   ------------------------------ */

	/* Columns spacing */
	--space-xs: 4px;
	--space-sm: 8px;
	--space-md: 16px;

	--space-lg: 34px; /* Spacing between sections */
}
