footer {
	display: flex;
	padding-top: var(--space-lg);
	padding-bottom: var(--space-lg);
	color: white;
	background-color: var(--color-primary-red);
}

footer > div:first-child {
	display: flex;
	gap: var(--space-lg);
	align-items: flex-start;
}

.gb_logo {
	width: 150px;
	height: auto;
	margin-top: 91px;
	margin-left: 92px;
}

.footer__nav {
	display: flex;
	gap: var(--space-lg);
}

.footer__info {
	display: flex;
	flex-direction: row;
	gap: var(--space-lg);
}
