footer {
	display: flex;
	flex-direction: column;
	padding-top: var(--space-lg);
	padding-bottom: var(--space-lg);
	color: white;
	background-color: var(--color-primary-red);
}

footer > div:first-child {
	display: flex;
	gap: var(--space-lg);
	align-items: flex-start;
}

.gb_logo {
	width: 250px;
	height: auto;
	margin-top: 21px;
	margin-left: 92px;
}

.footer__nav {
	display: flex;
	gap: var(--space-lg);
}

.footer__title {
	margin-bottom: var(--space-md);
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-semibold);
}

.footer__info {
	display: flex;
	flex-direction: row;
	gap: var(--space-lg);
}

.footer__subscribe {
	display: flex;
	margin-top: 91px;
	margin-left: 92px;
	font-size: var(--font-size-small);
}

.footer__copyright {
	display: inline-block;
	margin-top: 91px;
	margin-left: 92px;
	font-size: var(--font-size-small);
}

.footer__subscribe-text {
	display: flex;

	font-size: var(--font-size-medium);
}

.footer__products,
.footer__about,
.footer__customer-service,
.footer__follow-us {
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	text-align: left;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer__social-icon {
	cursor: pointer;
	transition: 0.2s ease;
}

.footer__social-icon--instagram:hover {
	content: url("/assets/svg/instagram-hover.svg");
}

.footer__social-icon--facebook:hover {
	content: url("/assets/svg/facebook-hover.svg");
}

.footer__subscribe {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
}

.footer__subscribe-form {
	display: flex;
	gap: var(--space-md);
}

.footer__subscribe-input {
	padding: var(--space-sm);
	font-size: var(--font-size-small);
	border: none;
	border-radius: 15px;
}
