.Hero {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	background-image: url("/assets/png/header 4 4.png");
	background-position: center;
	background-size: cover;
}

h1 {
	position: relative;
	left: 100px;
	display: block;
	font-size: 3rem;
	color: white;
	text-align: left;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
