.Reviews {
	max-width: 1440px;
	width: 100%;
	margin: 28px 0;

	aspect-ratio: 458 / 178;

	padding: clamp(16px, 4vw, 28px);

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: var(--color-primary-red);

	background-image: url("/rev-pic.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	position: relative;
}

.Reviews__content {
	position: absolute;

	width: clamp(210px, 48vw, 660px);

	top: clamp(10px, 8vw, 70px);
	left: clamp(35px, 11vw, 60px);

	display: flex;
	flex-direction: column;
}

.Reviews__quote {
	font-family: "Kodchasan", sans-serif;

	font-size: clamp(44px, 2vw, 68px);
	font-weight: 700;
	line-height: 1;

	color: var(--color-primary-red);

	position: absolute;

	top: -10px;
	left: -20px;

	transform: rotate(180deg);
}

.Reviews__stars {
	display: flex;

	margin-bottom: -10px;
}

.Reviews__stars img {
	width: clamp(11px, 5vw, 16px);
	height: clamp(11px, 5vw, 16px);
}

.Reviews__text {
	font-size: clamp(10px, 2.8vw, 18px);
	font-weight: 600;
	line-height: 1.4;
}

.Reviews__author {
	font-size: clamp(9px, 2.8vw, 18px);
	font-weight: 700;
}

@media (min-width: 768px) {
	.Reviews {
		max-width: 838px;

		aspect-ratio: 838 / 235;

		padding: 36px;

		background-image: url("/rev-pic-ipad.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		margin: 75px 0;
	}


	.Reviews__quote {
		top: -18px;
		left: -34px;
	}

	.Reviews__stars {
		gap: 2px;

		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.Reviews {
		max-width: 1440px;

		aspect-ratio: 1440 / 349;

		background-image: url("/rev-pic-desctop.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		margin-bottom: 90px;
	}

	.Reviews__content {
		width: 520px;

		top: 88px;
		left: 120px;
	}

	.Reviews__quote {
		font-size: 82px;

		top: -26px;
		left: -42px;
	}

	.Reviews__stars {
		gap: 4px;

		margin-bottom: 6px;
	}

	.Reviews__stars img {
		width: 22px;
		height: 22px;
	}

	.Reviews__text {
		font-size: 24px;
		line-height: 1.45;
	}

	.Reviews__author {
		font-size: 22px;
	}
}