.Reviews {
	width: 100%;

	aspect-ratio: 458 / 178;

	padding: clamp(16px, 4vw, 28px);

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: var(--color-primary-red);

	background-image: url("/rev-pic.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	position: relative;
}

.Reviews__content {
	position: absolute;
    width: 220px;
	top: 40px;
	left: 40px;

	display: flex;
	flex-direction: column;
}

.Reviews__quote {
	font-family: "Kodchasan", sans-serif;
	font-size: 43.84px;
	font-weight: 700;
	line-height: 1;

	color: var(--color-primary-red);

	position: absolute;
	top: -10px;
	left: -20px;

	transform: rotate(180deg);
}
.Reviews__stars {
	display: flex;
	margin-bottom: -10px;
}

.Reviews__stars img {
	width: 11px;
	height: 11px;
}

.Reviews__text {
	font-size: 10px;
	font-weight: 600;
	line-height: 1.4;
}

.Reviews__author {
	font-size: 9px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.Reviews {
		width: 100%;
		max-width: 838px;

		aspect-ratio: 838 / 235;

		padding: 36px;

		background-image: url("/rev-pic-ipad.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		position: relative;
	}

	.Reviews__quote {
		font-family: "Kodchasan", sans-serif;

		font-size: 68px;
		font-weight: 700;
		line-height: 1;

		top: 28px;
		left: 12px;
	}

	.Reviews__stars {
		display: flex;
		gap: 2px;

		margin-bottom: 0;
	}

	.Reviews__stars img {
		width: 16px;
		height: 16px;
	}

	.Reviews__text {
		width: 320px;

		font-size: 18px;
		font-weight: 700;
		line-height: 1.45;
	}

	.Reviews__author {
		font-size: 18px;
		font-weight: 700;
	}
}
